<app-navbar></app-navbar>



<section class="about_section layout_padding" style="margin-top: 50px;">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Web scraping ! also known as web harvesting or web data extraction, is a process of automatically collecting information from websites. It involves using automated scripts or tools to extract data from web pages, transforming unstructured or semi-structured data into a structured format that can be easily analyzed and used. Web scraping is employed for a variety of purposes, including market research, competitive analysis, data aggregation, content extraction, and more. 
              </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="../assets/about-img.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>


  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> Visit Us Again
        <a href="https://tac-tic.net/" target="_blank">Our company</a>
      </p>
    </div>
  </footer>




  
